name: golangci-lint 

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]
    paths-ignore:
      - '.github/**'
      - 'docs/**'
      - '**.md'
      - 'hack/**'
  push:
    branches:
      - '**'
    paths-ignore:
      - '.github/**'
      - 'docs/**'
      - '**.md'
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: v1.25
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
      - name: Run Linter
        run: golangci-lint run --timeout 10m --verbose 
